head
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title -  #{title}
    //link(rel='stylesheet' href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.10/themes/dark-hive/jquery-ui.css')
    //script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js')
    //script(src='https://code.jquery.com/ui/1.13.2/jquery-ui.min.js')
    //link(rel='stylesheet' href='../jslib/jquery-ui.css')
    link(rel='stylesheet' href='../jslib/jquery-ui-1.13.2.custom/jquery-ui.css')
    //link(rel='stylesheet' type="text/css" href='../jslib/jquery-ui_smooth.css')
    script(src='../jslib/jquery.min.js')
    script(src='../jslib/jquery-ui.min.js')
    script(src='../javascripts/main.js')
    link(rel='stylesheet' href='../stylesheets/style.css')