doctype=html 
html
    include header.pug
    include game_final.pug
    body
        if username
            +players
            +games
            +feeds
            +comments(1)
            +menu
            p creating list
        script. 
            $( "#menu" ).menu();