doctype=html 
html
    include header.pug
    include game_final.pug
    body
        if username
            +players
            +games
            +feeds
            +comments(1)
            +menu
            p creating list
            +feed
            +chat
        script. 
            $( "#menu" ).menu();
            $( "#menu-button" ).click(function() {
                    $( "#menu" ).toggle( "slide", {direction:"left"}, 300 );
                });