/*body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}*/
.ui-menu {
  width:200px;
}
#feed {border:2px double green;width:max-content;}
#input-commment-container {margin:0 auto;text-align:center;}